#chat-screen {
  background-color: #abc1d1;
}

.main-chat {
  padding: 0px 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 22px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 35%;
  margin-right: 10px;
}

.message__author {
  opacity: 0.8;
  font-size: 15px;
  display: block;
  margin-bottom: 9px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 14px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 8px;
}

.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 8px;
}

.reply {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 0px 20px;
  box-sizing: border-box;
}

.reply__column:first-child {
  width: 10%;
}

.reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border: var(--main-border);
  border-radius: 35px;
}

.reply__column:last-child > i,
.reply__column:last-child > button {
  position: absolute;
}

.reply__column:last-child > i {
  top: 25px;
  right: 62px;
}

.reply__column:last-child button {
  top: 3px;
  right: 3px;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 41px;
  height: 41px;
  border-radius: 50%;
}

.reply__column button:focus {
  outline: none;
}

.reply__column button i {
  opacity: 1;
}
