#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 99px;
  padding: 15px 0px;
  background-color: #fafafa;
  font-size: 17px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

#friends-display-link .fa-circle-info {
  margin-right: 6px;
}

#friends-display-link .fa-chevron-right {
  margin-left: 10px;
}

.friends-screen {
  margin-top: 15px;
}

.friends-screen__section {
  margin-top: 15px;
  border-top: var(--main-border);
  padding: 15px 0px;
}

.friends-screen__section-header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.friends-screen__section-title {
  font-size: 15px;
}

.friends-screen__section-friends .user-component {
  margin-bottom: 18px;
}
