.alt-header {
  background-color: white;
  z-index: 1;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 30px;
  padding: 0 var(--horizontal-space);
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.alt-header__title {
  font-size: 25px;
  font-weight: 600;
}

.alt-header__column:last-child i:last-child {
  margin-left: 25px;
}
